<html>
<head>
    <title>Dillon's Sexy Hair</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../styles.css">
</head>
    <body>
        <div class="container">

            <img src="/../purple.png" style="position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:-1">

            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <h1><center>Dillon's Sexy Hair Salon!</center></h1>
                <h3><center>a word of wild hair arousal...</center></h3>
                <hr>

                <h2><center>CLIENT DELETED</center></h2>

                <h4>Add a new stylist:</h4>
                <ul>
                    <form action="/stylists" method="post">
                        <label for="name">Stylist's Name:</label>
                        <input id="name" name="name" type="text" placeholder="Johnny Clippers">
                        <button type="submit" class="btn-danger">Add stylist</button>
                    </form>
                </ul>

                <hr class="small">
                <h4>List of current stylists:</h4>

                <ul>
                    {% if stylists is not empty %}
                        {% for stylist in stylists %}
                            <a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                        {% endfor %}
                    {% else %}
                        <p> No stylists.</p>
                    {% endif %}
                </ul>

                <hr>

                <center>
                    <form action="/" method="get">
                        <button type="submit" class="btn-danger">Return Home!</button>
                    </form>
                    <form action="/deleted_clients" method="post">
                        <button type="submit" class="btn-danger">Delete All Clients!</button>
                    </form>
                    <form action="/deleted_stylists" method="post">
                        <button type="submit" class="btn-danger">Delete All Stylists!</button>
                    </form>
                </center>

            </div>
            <div class="col-sm-2"></div>

        </div>
    </body>
</html>
